<!DOCTYPE html>
<html>
    <body>
        <h3>
            <%=data.name%>
        </h3>
        <table>
            <tr>
                <th>ID</th><th>Name</th><th>Quantity</th>
            </tr>
        <% for (var i = 0; i < data.products.length; i++) { %>
            <tr>
               <td><%=data.products[i].id%></td>
               <td><%=data.products[i].name%></td>
               <td><%=data.products[i].quantity%></td> 
            </tr>
        <% } %>
    </table>
    </body>
</html>
